.m-bottom-11{
  margin-bottom: 11px;
}

// --------- Padding ---------

.p-left-12{
  padding-left: 12px;
}

.p-left-36{
  padding-left: 36px;
}

.p-vertical-10{
  padding-top: 10px;
  padding-bottom: 10px;
}

.p-horizontal-98{
  padding-left: 98px !important;
  padding-right: 98px !important;
}