.switch-custom input{
  height: 20px;
  width: 50px !important;
}

.balance{
  background: linear-gradient(332.22deg, #5C52B3 -3.78%, #4478D0 53.87%, #1EB4FF 94.17%);
  border-radius: 10px;
  margin: 0;
  padding: 10px 30px;
  p{
    margin: 0;
  }
}

.add-funds-btn{
  width: 100%;
  margin-bottom: 15px;
  height: 46px;
}