.plaid_container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  .plaid_card{
    position: relative;
    margin: 100px 0;
    padding: 0;
    width: 646px;
    min-height: 850px;
    box-shadow: 0px 20px 30px rgb(0 0 0 / 10%);
    flex-direction: row;
  }
}